.to-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px lightblue ;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}