.title-border {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 250px;
    margin-bottom: 25px;
    text-shadow: 0 0 30px white;
}

.developer-designer {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 250px;
    text-shadow: 0 0 30px white;
}

.to-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px lightblue ;
    background-color: white;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    cursor: pointer;
}