.name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 300px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.developer-designer {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom:300px;
    text-shadow: 0 0 10px white;
}

.to-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.border {
    background-color: white;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
}

.item:hover {
    color: lightblue;
}

.click-border {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
}

@media only screen and (max-width: 800px) {
    .name {
        font-size: 35px;
        margin-top: 300px;
    }

    .developer-designer {
        font-size: 20px;
        margin-bottom: 400px;
    }

    .item {
        font-size: 20px;
    }
}