.contact-border {
    background-color: rgba(0, 0, 0, 0.493);
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.contact-me {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.email-me {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.email {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.phone {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.phone-number {
    display: flex;
    justify-content: left;
    padding: 10px;
}